{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Calculator</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">Calculator</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#instaraction">Instaraction</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid" style="margin: 4rem 0 20rem 0">
      <div class="row">
        <div class="col-md-6" style="margin: 0 auto">
          {% if error %}
          <div class="alert alert-danger" role="alert">error</div>
          {% endif%}
          {% if result %}
          <div class="alert alert-success" role="alert">{{q}}={{ans}}</div>
          {% endif %}
        </div>
      </div>
      <div class="row" style="margin-top: 4 rem">
        <div class="col-md-6" style="margin: 0 auto">
          <img class="img-fluid" src="{% static 'th.jpg' %}" />
          <div class="card">
            <div class="card-body">
              <form method="GET" action="{% url 'submitquery' %}">
                <div class="form-group">
                  <input
                    type="search"
                    class="form-control"
                    id="query"
                    name="query"
                    style="margin: 1 rem auto 0 auto"
                  />
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <input
                      type="submit"
                      class="btn btn-success"
                      style="margin: 0 auto; display: block"
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="reset"
                      class="btn btn-danger"
                      style="margin: 0 auto; display: block"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="margin: 0 auto; text-align: center;">
          <p
            class="display-4"
            id="about"
            name="about"
            style="align-items: center"
          >
            About
          </p>
          <hr />
          <p class="lead" style="align-items: center">
            our calculator do mathimatical compute
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="margin: 0 auto">
          <p
            class="display-4"
            id="instaraction"
            name="instaraction"
            style="align-items: center ;margin: 0 auto ; text-align: center;"
          >
            Instaraction
          </p>
          <hr />
          <ul class="list-group">
            <li class="list-group-item">+ Adding</li>
            <li class="list-group-item">- Minus</li>
            <li class="list-group-item">/ Divivsion</li>
            <li class="list-group-item">// floor</li>
            <li class="list-group-item">() bracket</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6" style="margin: 0 auto">
          <footer
            class="fixed-botton"
            style="
              background-color: black;
              color: white;
              text-align: center !important;
            "
          >
            Thanks for using our Calculator
          </footer>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
